<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/orderdetails" method="GET" th:object="${order}">
        <input type="text" th:field="*{orderDate}">
        <input type="text" th:field="*{customerName}">
        <input type="text" th:field="*{shipAddress}">
        <input type="text" th:field="*{notes}">
        <input type="text" th:field="*{tax}">

        <input type="submit" placeholder="Move to order details">
    </form>
</body>
</html>